<style>
  .property-box {
    border: 1px solid #000000;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increased box shadow */
    transition: box-shadow 0.3s ease;
    background-color: #ffffff;
  }

  .property-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced box shadow on hover */
  }

  .property-title {
    color: black;
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .property-details {
    color: black;
    font-size: 1.1em;
  }

  .property-details b {
    color: #3498db;
  }
</style>

<div class="property-box">
  <h4 class="property-title">
    Rs {{ x['price'] }}
  </h4>
  <div class="property-details">
    <b>Square foot:</b> {{ x['square_feet'] }}
  </div>
  <div class="property-details">
    <b>Bedrooms:</b> {{ x['no_of_bedrooms'] }}
  </div>
  <div class="property-details">
    <b>Bathrooms:</b> {{ x['no_of_bathrooms'] }}
  </div>
</div>

